@font-face {
  font-family: "Playfair Display";
  src: url("/lab/assets/fonts/playfair-var.woff2") format("woff2");
  font-weight: 400 900;
  font-display: swap;
}
@font-face {
  font-family: Switzer;
  src: url("/fonts/Switzer-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}
